# No subir dependencias de npm
node_modules/
package-lock.json

# No subir archivos de construcción
build/
dist/

# No subir variables de entorno (clave API)
.env
.env.local

# No subir logs
npm-debug.log
yarn-debug.log
yarn-error.log

# No subir cache de React
.cache/
